<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/main.css' />
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <script type="text/babel" src="App.js"></script>
</head>
<body>
    <div class="container">
		<div class="option-one">Ducks</div>
		<div class="option-two">Dynamite</div>
		<div class="option-three">Doors</div>
		<div class="option-four">Dudes</div>
		<div class="option-five">Diamond</div>
		<div class="option-six">Doom</div>
	</div>
	<span class="mid"></span>
	<button id="spin">Spin</button>
	<div class="stoper"></div>
	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span>
			<p id="modal-text">Some text in the Modal..</p>
		</div>
	</div>
	<script src="/static/spin.js"></script>
</body>
</html>